<header>
  <div class="navbar bg-primary shadow-sm">
    <div class="flex-1">
      <a href="/" class="btn btn-ghost text-xl">PSP</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a href="/daisyui">DaisyUI</a></li>
        <li><a href="/grid">Grid Demo</a></li>
        <li><a href="https://daisyui.com/components/" target="_blank">DaisyUI Docs</a></li>
        <li><a href="https://github.com/everysundays/psp-asia-dev-template">GitHub</a></li>
      </ul>
    </div>
  </div>
</header>