# Dependencies
node_modules/

# Protect ONLY user-created project files from being overwritten
# (Templates, demo/, and public/ should be updated with new environment)
env/views/contact.erb
env/views/footer.erb  
env/views/head.erb
env/views/index.erb
env/views/layout.erb
env/views/price.erb
env/views/trial.erb

# macOS
.DS_Store

