# Dependencies
env/node_modules/

# User-created files that should NOT be overwritten
env/public/css/*.css
env/public/img/
env/views/contact.erb
env/views/footer.erb
env/views/head.erb
env/views/index.erb
env/views/layout.erb
env/views/price.erb
env/views/trial.erb

# macOS
.DS_Store

